@inherits LayoutComponentBase
@using MiniWorkflowBuilder.Client.Components

<div class="main-layout">
    <header class="app-header">
        <h1>Mini Workflow Builder</h1>
    </header>


    <div class="main-body">
        <aside class="sidebar">
            <Sidebar />
        </aside>

        <main class="canvas-area">
            <CanvasArea />
        </main>
    </div>
</div>